<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Martynas Website :)</title>
</head>
<body>
  {% include 'partials/_navigation_bar.html' %}
  <h1>User</h1>

  {% with msgs = get_flashed_messages(with_categories=true) %}
    {% if msgs %}
      <ul>
        {% for cat, m in msgs %}<li>[{{cat}}] {{ m }}</li>{% endfor %}
      </ul>
    {% endif %}
  {% endwith %}

  {% if username %}
    <p>Signed in as <b>{{ username }}</b></p>

    {% if bongo_cat_score is not none %}
      <p>Bongo cat score: {{ bongo_cat_score }}</p>
    {% endif %}

    <p><a href="{{ url_for('user.logout') }}">Logout</a></p>
  {% else %}
    <p>
      <a href="{{ url_for('user.register') }}">Create account</a> |
      <a href="{{ url_for('user.login') }}">Login</a> |
      <a href="{{ url_for('user.reset_request') }}">Forgot password?</a>
    </p>
  {% endif %}
</body>
</html>

